/* Внешний файл CSS */

/* Стили для таблицы */
.cooling-table {
    border: 2px solid #333;
    border-collapse: collapse;
}
.cooling-table th, .cooling-table td {
    border: 2px solid #333;
    padding: 8px;
    text-align: left;
}

/* Стили для ссылок */
.menu a {
    color: #0099ff;
    text-decoration: none;
}
.menu a:hover {
    color: #ff9900;
}
